#marker {
	border-radius: 10px;
	border-color: red;
    /*background-color: pink;*/
    width: 100px;
    border:2px solid black;
    padding: 5px;
    text-shadow: 2px 2px 5px red;
    font-style: oblique;
    font-size: 14px; 
    /*word-wrap: break-word;*/
}
.button .outer {
	position: relative;
	width: 20%;
	height: 20%;
	padding: 10px;
	background: #f4511e;
	border-radius: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	box-shadow: inset rgba(0,0,0,0) 0px 1px 5px;
	-webkit-box-shadow: inset rgba(0,0,0,0) 0px 1px 5px;
	-moz-box-shadow: inset rgba(0,0,0,0) 0px 1px 5px;
	-webkit-transform: perspective(500px) rotateX(35deg);
	-moz-transform: perspective(500px) rotateX(35deg);
}
.button .outer .height {
	position: relative;
	height: 100%;
	margin-top: -15px;
	padding-bottom: 15px;
	background: #ff7043  ;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: rgba(0,0,0,0) 0px 1px 1px, inset rgba(0,0,0,0) 0px -2px 8px;
	-webkit-box-shadow: rgba(0,0,0,0) 0px 1px 1px, inset rgba(0,0,0,0) 0px -2px 8px;
	-moz-box-shadow: rgba(0,0,0,0) 0px 1px 1px, inset rgba(0,0,0,0) 0px -2px 8px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
}       
.button .outer .height .inner {
	line-height: 2.8em;
	font-size: 30px;
	letter-spacing: .05em;
	position: relative;
	height: 100%;
	text-align: center;
	text-shadow: #3949ab 0px 0px 1px;
	background: #ff7043;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	box-shadow: inset rgba(255,255,255,0) 0px 0px 1px;
	-webkit-box-shadow: inset rgba(255,255,255,0) 0px 0px 1px;
	-moz-box-shadow: inset rgba(255,255,255,0) 0px 0px 1px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
}

#inner{
	font-style: italic;
	font-size: 25px;
	font-family: "cursive";
	background-color: #ffab91 ;
	padding: 10px;

}